.content{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    
}
@media screen and (min-width:576px){
    .content{
        max-width: 720px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: calc((100% - 10px - 4px)/ 2);
    }
}
@media screen and (min-width:992px){
    .content{
        max-width: 960px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: calc((100% - 20px - 6px)/ 3);
    }
}

@media screen and (min-width:576px){
 
    .card{
        width: calc((100% - 10px - 4px)/ 2);
    }
}
@media screen and (min-width:992px){

    .card{
        width: calc((100% - 20px - 6px)/ 3);
    }
}


.card{
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow:  0 10px 20px rgb(0,0,0,0.5);
}
.image img{
    width: 100%;
    height: 160px;
    object-fit: cover;


}
.info{
    padding: auto;
}
.info h2{
    text-align: left;
    font-size: 1.5rem;
    margin: 0 0 5px 0;

    
}

.info p{
    font-size: 1.25rem;
    margin-bottom: 5px;

}

.info div{
    margin: 0;
    font-size: 1.25rem;
}